<mat-card class="card">
  <mat-card-header>
    <mat-card-title>
        Portfolio ( $ {{total}})
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="card-content">

    <mat-list>
      <cdk-virtual-scroll-viewport itemSize="50" class = "viewport">
        <div *cdkVirtualFor = "let stock of userDetails.stocks">
          <mat-list-item>
              <span class = "name">{{stock.name}}</span>
              <span class = "quantity">{{stock.quantity}}</span>
              <span class = "price">{{stock.price}}</span>
            </mat-list-item>
        </div>
      </cdk-virtual-scroll-viewport>
    </mat-list>  
    
        


  </mat-card-content>
</mat-card>