.grid-container {
    margin: 20px;
  }
  
  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  
  .card-content {
    text-align: center;
  }
  
  .card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 3px;
  }

  .mat-card {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
  }

  .viewport{
    height: 200px;
  }

  span {
    width: 40px;
    height: 20px;
    margin: 20px;
    display: inline;
  }